/* Header */
.header {
  border-bottom: 1px solid #ddd;
  background: #333;
  color: #fff;
}

.header .inner-logo img {
  max-height: 46px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
	flex-wrap: wrap;
  border-right: 1px solid #dcd7d7;
  color:#dcd7d7;
}

.header .inner-menu > ul > li {
  align-items: center;
}

.header .inner-menu > ul > li > a {
  color:#dcd7d7;
}

/* End Header */

/* Footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End Footer */

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End box-head */

.item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.inner-image {
  position: relative;
}

.inner-image img {
  width: 100%;
  height: auto;
  display: block;
}

.inner-content {
  padding: 15px;
}

.card-body {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 0.875rem;
  color: #666;
  margin-top: 5px;
}

/* List item styling */
.d-flex.justify-content-between.align-items-center.border-bottom.px-3.py-2 {
  padding: 8px 16px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Track image styling */
.rounded-circle.bg-light {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* Button styling */
.btn-sm {
  padding: 2px 6px; /* Smaller padding for compact size */
  font-size: 12px; /* Smaller font size */
  margin: 0 5px; /* Adds spacing between buttons */
}

/* Adjust margin for the first button to remove extra space on the left */
.btn-group .btn:first-child {
  margin-left: 0;
}

/* Adjust margin for the last button to remove extra space on the right */
.btn-group .btn:last-child {
  margin-right: 0;
}

/* Badge styling */
.badge {
  font-size: 12px;
  padding: 4px 8px;
}

/* Text link styling */
.text-secondary, .text-primary {
  font-size: 15px;
  text-decoration: none;
  margin-right: 5px;
}

.text-secondary:hover, .text-primary:hover {
  text-decoration: underline;
}

/* Remove background and border from 'More' button */
.btn-outline-secondary[title="More"] {
  background-color: transparent;
  border: none;
}

/* Specific styling for list item contents */
li.d-flex.justify-content-between.align-items-center.border-bottom.px-3.py-2 {
  padding: 8px 16px;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Space between the track image and the play button */
.d-flex.align-items-center .me-3 {
  margin-right: 10px; /* Adjust as needed */
  margin-left: 10px;
}

/* Space between the play button and the title */
.d-flex.align-items-center .me-2 {
  margin-right: 10px; /* Adjust as needed */
}

/* Space between the title and the right section (badge and buttons) */
.me-auto {
  margin-right: 10px; /* Adjust as needed */
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .d-flex.justify-content-between.align-items-center.border-bottom.px-3.py-2 {
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  .badge, .text-secondary, .text-primary {
    font-size: 12px; /* Smaller font size for mobile */
  }

  .btn-group {
    margin-top: 8px;
  }
}


/* singer-detail */
.singer-detail .inner-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #F57F20;
}

.singer-detail .inner-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.singer-detail .inner-actions .inner-action {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: #646464;
}

.singer-detail .inner-actions .inner-action i {
  font-size: 16px;
  margin-right: 5px;
}

.singer-detail .inner-actions .inner-like {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-like.active {
  color: #0059ff;
}

.singer-detail .inner-actions .inner-like i {
  color: #0059ff;
}

.singer-detail .inner-actions .inner-like.active i {
  font-weight: 900;
}

.singer-detail .inner-actions .inner-heart {
  cursor: pointer;
}

.singer-detail .inner-actions .inner-heart i {
  color: #b90000;
}

.singer-detail .inner-play {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.singer-detail .inner-play .inner-audio {
  flex: 1;
}

.singer-detail .inner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #F57F20;
  margin-right: 20px;
  animation-name: spin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.singer-detail .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singer-detail .inner-desc {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
}

.singer-detail .inner-desc .inner-label {
  font-size: 16px;
  font-weight: 700;
  color: #F57F20;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.singer-detail .inner-desc .inner-text {
  font-size: 14px;
  padding: 10px 15px;
}
/* End singer-detail */


/* box search */
.box-search {
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.box-search .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 25px;
  width: 400px;
  font-size: 14px;
  border-color: hsl(0, 0%, 100%);
}

.box-search .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 12px;
  font-size: 14px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 100%);
  color: #333;
  border-color: hsl(0, 0%, 100%);
}

.box-search .fa-search {
  font-size: 16px;
}

@media (max-width: 400px) {
  .box-search {
    padding: 3px;
    max-width: 100%;
  }

  .box-search .form-control {
    width: 70%;
    display: inline-block;
  }

  .box-search .btn-primary {
    width: 30%;
    display: inline-block;
  }
}
/* end box search */

/* Button Styling */
.sidebar-menu .btn {
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 16px; /* Larger font size for readability */
  text-align: left; /* Align text to the left */
  color: #333;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: background-color 0.2s, color 0.2s;
  width: 100%; /* Full width button */
}

.sidebar-menu .btn.btn-light.active{
  background-color: #e22525;
  color:#fff;
}


.btn-success, .btn-info {
  font-size: 15px;      
  padding: 2px 15px;     
  font-weight: 500; 
  margin-right: 10px;
}

/* Styling for the form-auth container */
.form-auth {
  background-color: #ffffff; 
  padding: 30px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ddd; 
  max-width: 500px; 
  margin: 0 auto; 
}

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */